<main class="contenedor-principal">

    <div class="titulo-normativas">
         <h1>NORMASTIVAS <BR>AMBIENTALRES</h1>     
         <p>
             Podrás hacer seguimiento en tiempo real del progreso de la tramitación de tu recurso de reclamación. En el Sistema de Recursos de Reclamación tendrás acceso al histórico de recursos de reclamación que has presentado, y al ingresar al detalle de cada uno, podrás ver su estado actual y un expediente con todos los documentos asociados a tu recurso.
             Al finalizar el proceso obtendrás un comprobante firmado electrónicamente que indica la presentación exitosa de tu recurso. <br>
             Ahorrarás tiempo de la tramitación de tu recurso. Esto debido a que tu recurso de reclamación luego de presentado llegará automáticamente a nuestro Departamento de Recursos de Reclamación. Cuando lo presentas a través de la Oficina de Partes, tu recurso de reclamación deberá pasar por una serie de derivaciones hasta llegar a su destino.
             Podrás cargar archivos de hasta 100MB. A través de la Oficina de Partes Virtual solo podrás presentar archivos con un peso máximo de 10MB.
             A futuro cualquier interacción que requieras con nuestro Departamento de Recursos de Reclamación la podrás realizar a través del sistema. Esto gracias a que trabajamos cada día por implementar nuevas funciones que mejoren tu experiencia con la gestión de los trámites que tenemos a tu disposición.
         </p>   
    </div>
  
 </main>