<main class="contenedor-principal">
    <div class="contenedor-sec row">
        <div class="col-md-6">
            <div class="texto-aboutus">
                <p class="texto-">
                    La naturaleza es un concepto utilizado para referirse al mundo material o universo material, incluyendo los fenómenos del mundo físico, la materia inerte generada como parte de procesos sin la intervención humana, y al fenómeno de la vida, que incluye también a los humanos.​​ Wikipedia
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <img src="../../../assets/fondosobrenosotros.jpg" alt="cordillera" class="img-fluid">
        </div>
            <!-- Agrega cuatro elementos de lista <li> aquí -->
    <ul class="lista-de-texto">
      <li>1. Quienes Somos</li>
      <li>1. Quienes Somos</li>
      <li>1. Quienes Somos</li>
      <li>1. Quienes Somos</li>
  </ul>
      </div>
</main>