<body>
    <nav class="center-nav"><img src="images/logo.png" alt=""> </nav>

        <form id="form-login" class="contenedor">
            <h1>Inicio Sesion</h1>            
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input name="email" type="text" class="form-control" id="email" placeholder="Ingrese email" autocomplete="off">
            </div>
           
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input name="password" type="password" class="form-control" id="password" placeholder="ingrese contraseña">
            </div>
           
            <div class="recordar">
                ¿Olvidó su contraseña?
            </div>
           
            <button type="submit" value="iniciar" class="btn btn-primary">Iniciar</button>
           
            <div class="registrarse">
                <a href="registro">Crear una cuenta</a>
            </div>
        </form>
    </body>