<body>
    <div class="container">
        <form id="registro" action="#" method="post" class="row g-3 needs-validation" onsubmit="return validateForm()">
            <ul id="campos">
                <li>
                    <div class="col-md-4">
                        <label for="nombre" class="form-label"> Nombre de usuario</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" required>
                    </div>
                </li>
                <li>
                    <div class="col-md-4">
                        <label for="rut" class="form-label">RUT(sin puntos y con guion)</label>
                        <input type="text" class="form-control" id="rut" name="rut" required>
                    </div>
                </li>
                <li>
                    <div class="col-md-4">
                        <label for="region" class="form-label">Región</label>
                        <input type="text" class="form-control" id="region" name="region" required>
                    </div>
                </li>
                <li>
                    <div class="col-md-4">
                        <label for="comuna" class="form-label">Comuna</label>
                        <input type="text" class="form-control" id="comuna" name="comuna" required>
                    </div>
                </li>
                <li>
                    <div class="col-md-4">
                        <label for="email" class="form-label">Correo electronico</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                </li>
                <li>
                    <div class="col-md-4">
                        <label for="contrasenya" class="form-label">contraseña</label>
                        <input type="password" class="form-control" id="contrasenya" name="contrasenya" >
                    </div>
                </li>
                <li>
                    <div class="col-md-4">
                        <label for="recontrasenya" class="form-label">confrime contraseña</label>
                        <input type="password" class="form-control" id="recontrasenya" name="recontrasenya" required>
                    </div>
                </li>
                <li>
                    <div class="col-12">
                        <div class="form-check">
                            <label class="form-check-label" for="invalidCheck3">
                                <input class="form-check-input" type="checkbox" value="" id="invalidCheck3" required>
                                Acepta términos y condiciones
                            </label>
                        </div>
                    </div>
                </li>
            </ul>
            
            <button type="submit">REGISTRARSE</button>
        </form>
    </div>
</body>