<section class="fondo">
    <ul class="body-superior">
        <li>
            <a href="" target="">HOW</a>
        </li>

        <li>
            <a href="" >WHEN</a>
        </li>
        <li>
            <a href="">WHERE</a>
        </li>
        <li>
            <a href="">WHY</a>
        </li>
        <li>
            <a href="">CAPACITACION</a>
        </li>
    </ul>

    <p>
        El Servicio de Evaluación Ambiental te da la bienvenida a esta nueva plataforma de Participación Ciudadana (PAC) y <br>
        Proceso de Consulta a Pueblos Indígenas (PCPI).<br>
        La participación de la comunidad o participación ciudadana es fundamental dentro de la evaluación ambiental porque<br>
        permite que las personas se informen y opinen acerca de proyectos o actividades que se presenten al Sistema de<br>
        Evaluación de Impacto Ambiental (SEIA), como también, que obtengan respuesta fundada a sus observaciones<br>
        ciudadanas.<br>
        En este espacio podrás ejercer tu derecho a informarte y participar en los proyectos sometidos al SEIA.<br>
        Asimismo, aquí encontrarás aspectos relevantes sobre qué es y cómo funciona el SEIA, cómo realizar observaciones<br>
        ciudadanas, solicitudes de inicio de PAC, conocer los proyectos que están con procesos activos de Participación<br>
        Ciudadana, conocer las características de los proyectos y acceder a capacitaciones online, entre otros.<br>
        ¡Anímate y participa! Tus observaciones, solicitudes de inicio de PAC y comentarios ayudan a fortalecer la evaluación de<br>
        impacto ambiental.
    </p>
</section>
