<section class="lista">
    <ul class="lista-1">
        <li>
            Concursos Públicos
        </li>
        <li>
            Licitación de esta Institución
        </li>
        <li>
            Pago de Proveedores
        </li>
        <li>
            Consultas Ciudadanas
        </li>
    </ul>

    <ul class="lista-1">
        <li>
            Empleos Públicos
        </li>
        <li>
            Empleos Públicos Servicio Civil
        </li>
        <li>
            Trámites y Servicios en línea
        </li>
        <li>
            Acceso Correo Institucional
        </li>
    </ul>

    <div class="footer-gob">
        <ul class="lista-2">
            <li>
                <img src="../../../assets/facebook.png">
            </li>
            <li>
                <img src="../../../assets/twitter.png">
            </li>
            <li>
                <img src="../../../assets/instagram.png">
            </li>
            <li>
                <img src="../../../assets/youtube.png">
            </li>
        </ul>
        <div class="animales-footer">
            <img src="../../../assets/animales-footer.png">
        </div>
    </div>
</section>

<div class="logo-gob">
    <img src="../../../assets/footer-gobierno.svg">
</div>