<header class="navbar justify-content-between">
    <a href="inicio"><img class="navbar-logo" src="../../../assets/logo.png" height="100" width="30%" ></a>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar contenido" aria-label="Search">
        
        <a class="btn btn-outline-success my-2 my-sm-0" href="login">Iniciar Sesión</a>
        <a class="btn btn-outline-success my-2 my-sm-0" href="registro">Registrarse</a>
    </form>


<nav class="nav nav-pills nav-fill" >
    <a class="nav-item nav-link" href="inicio">Inicio</a>
    <a class="nav-item nav-link" href="normativas">Normativas</a>
    <a class="nav-item nav-link" href="noticias">Noticias</a>
    <a class="nav-item nav-link" href="como-ayudar">Como ayudar</a>
    <a class="nav-item nav-link" href="nosotros">Sobre nosotros</a>
  </nav>

</header>